@use '@/styles/variables.scss' as *;
@use '@/styles/responsive.scss' as *;

.promotion-list-page-layout-component {
  margin: 0 auto;
  padding:
    $page-layout-column-blanck--mobile
    $safe-area--mobile;

  @include tablet {
    max-width: $max-width;
    padding:
      $page-layout-column-blanck--tablet
      $safe-area--tablet;
  }
}