@use "@/styles/variables.scss" as *;
@use "@/styles/responsive.scss" as *;

.integrated-search-page-component {
  width: 100%;
  margin: 0 auto;
  padding:
    $page-layout-column-blanck--mobile
    $safe-area--mobile;
  
  @include tablet {
    max-width: $max-width;
    padding:
      $page-layout-column-blanck--tablet
      $safe-area--tablet;
  }

  .header {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid $border-color--gray;

    @include tablet {
      margin-bottom: 30px;
    }

    .title {
      margin: 0;
      font-size: 18px;
      font-weight: 500;

      @include tablet {
        font-size: 24px;
      }

      .search-query {
        margin: 0 0 0 8px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.5px;

        @include tablet {
          margin: 0 0 0 15px;
          font-size: 22px;
        }
      }
    }
  }
}