@use "@/styles/variables.scss" as *;
@use "@/styles/responsive.scss" as *;

.search-modal-component {
	overflow-y: auto;
	position: fixed;
	z-index: 1000;
	inset: 0;
	width: 100vw;
	height: calc(100vh - #{$header-height--mobile});
	margin-top: $header-height--mobile;
	padding: 150px $safe-area--mobile 50px;
	background-color: $background-color--white;

	@include tablet {
		padding: 270px $safe-area--tablet 80px;
		margin-top: $header-height--tablet;
	}

	.form {
		display: flex;
		width: 100%;
		height: 40px;
		max-width: $max-width;

		@include tablet {
			max-width: $max-width;
			margin: 0 auto;
		}

		.input-wrapper {
			position: relative;
			display: flex;
			flex-grow: 1;
			padding-bottom: 5px;
			border-bottom: 1px solid $font-color--black;

			.input {
				flex-grow: 1;
				outline: none;
				border: none;
				font-size: 18px;
				font-weight: 300;

				@include tablet {
					font-size: 22px;
				}
			}

			.search-button {
				padding: 0;
				background-color: inherit;
				border: none;

				.search-icon {
					cursor: pointer;
				}
			}

			.error-message {
				position: absolute;
				bottom: -40px;
				color: $font-color--rose;
			}
		}
	}

	.recent-search-area {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: $max-width;
		margin: 60px auto 0;

		@include tablet {
			margin-top: 80px;
		}

		.recent-search-title {
			letter-spacing: 1px;
			color: $font-color--dark-gray;
		}
	}
}