@use "@/styles/variables.scss" as *;
@use "@/styles/responsive.scss" as *;

.post-card-row-skeleton-component {
  padding-bottom: 10px;
  border-bottom: 1px solid $border-color--gray;

  @include tablet {
    padding-bottom: 15px;
  }

  .body {
    display: flex;
    gap: 15px;

    @include tablet {
			gap: 20px;
		}

    .text {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .title {
        position: relative;
        width: 60%;
        height: 20px;
        background-color: $background-color--skeleton--dark-gray;
        border-radius: 3px;
      }

      .content {
        position: relative;
        height: 15px;
        background-color: $background-color--skeleton--dark-gray;
        border-radius: 3px;

        &.--first-line {
          width: 70%;
          margin: 7px 0 10px 0;

          @include tablet {
            margin-top: 20px;
          }
        }

        &.--second-line {
          width: 90%;
        }
      }
    }

    .thumbnail {
      position: relative;
      flex-shrink: 0;
      width: 100px;
      height: 80px;
      margin-left: auto;
      background-color: $background-color--skeleton--dark-gray;
      border-radius: 3px;

      @include tablet {
        width: 210px;
				height: 150px;
      }
    }
  }

  .footer {
    padding: 10px 0 10px;
    
    .meta-stats {
      position: relative;
      width: 40%;
      max-width: 300px;
      height: 15px;
      background-color: $background-color--skeleton--dark-gray;
      border-radius: 3px;
    }
  }
}

.author::after,
.title::after,
.content::after,
.thumbnail::after,
.meta-stats::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transform: translateX(-100%);
  animation: shimmer 1.0s infinite;
} 

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
