@use "@/styles/variables.scss" as *;
@use "@/styles/responsive.scss" as *;

.bread-crumb-component {
  display: flex;
  gap: 5px;
  margin: 0 auto 15px;
  padding-bottom: 8px;
  border-bottom: 1px solid $font-color--black;
  font-size: 15px;
  color: $font-color--black;

  @include tablet {
    max-width: $max-width;
    margin: 0 auto 40px;
    padding-bottom: 15px;
  }

  > a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: $font-color--black;

    @include tablet {
      font-size: 15px;
    }

    > svg {
      position: relative;
      top: 2px;
      margin-right: 3px;

      @include tablet {
        margin-right: 5px;
      }
    }
  }

  > svg {
    position: relative;
    top: 5px;
  }
}