@use "@/styles/variables.scss" as *;
@use "@/styles/responsive.scss" as *;

.post-list-header-component {
	display: flex;
	align-items: end;
	gap: 15px;
	margin-bottom: 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid $border-color--gray;

	@include tablet {
		gap: 30px;
		margin-bottom: 30px;
	}

	.category {
		margin: 0;
		font-family: "Cormorant";
		font-size: 20px;
		font-weight: 700;

		@include tablet {
			font-size: 26px;
		}
	}

	.sub-category-list {
		display: flex;
		gap: 8px;
		margin: 0 0 3px;
		padding: 0;
		list-style-type: none;

		.sub-category-wrapper {
			.sub-category {
				font-weight: 500;
				color: $font-color--black;
				text-decoration: none;

				&.active {
					color: $font-color--rose;
				}
			}
		}
	}

	.button-group {
		display: flex;
		gap: 8px;
		margin-left: auto;

    @include tablet {
      gap: 10px;
    }

		.button {
			padding: 0;
			background-color: inherit;
			border: none;
			cursor: pointer;
      
      .button-icon {
        position: relative;
        top: 3px;
        width: 18px;
        height: 18px;
        color: $font-color--black;

        @include tablet {
          width: 24px;
          height: 24px;
        }
      }
		}
	}
}
