@use "@/styles/variables.scss" as *;
@use "@/styles/responsive.scss" as *;

.post-create-page-component {
	display: flex;
	flex-direction: column;

	@include tablet {
		margin-bottom: 30px;
	}

	.form {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0 auto;
	}
}
