@use "@/styles/variables.scss" as *;
@use "@/styles/responsive.scss" as *;

.post-create-page-component {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: $page-layout-column-blanck--mobile $safe-area--mobile;

	> :nth-child(1) {
		margin-bottom: 25px;

		@include tablet {
			margin-bottom: 30px;
		}
	}

	.form {
		display: flex;
		flex-direction: column;
	}

	.section-title {
		margin: 0 0 50px;
		font-size: 20px;
		font-weight: 450;
	}

	@include tablet {
		max-width: $max-width;
		padding: $page-layout-column-blanck--tablet $safe-area--tablet;
	}
}
