@use "@/styles/variables.scss" as *;
@use "@/styles/responsive.scss" as *;

.thumbnail-carousel-box-component {
  overflow-x: auto;
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 0 auto;
  padding: 5px;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include tablet {
    max-width: $max-width;
    padding: 30px $safe-area--mobile 10px;
  }

  .thumbnail-item-wrapper {
    flex-shrink: 0;
    width: calc((100% - (20px * 1)) / 2);

    @include tablet {
      width: calc((100% - (20px * 2)) / 3);
    }
  }
}

