@use "@/styles/variables.scss" as *;
@use "@/styles/responsive.scss" as *;

.post-detail-content-component {
	display: block;
	flex-grow: 1;
	width: 100%;
	padding: 50px $safe-area--mobile;
	border: none;
	outline: none;
	letter-spacing: 0.5px;
	word-break: break-word;

	@include tablet {
		max-width: $max-width;
		margin: 0 auto;
		padding: 100px $safe-area--tablet;
	}

	p {
		margin: 0;
		font-size: 15px;
		line-height: 2;

		@include tablet {
			font-size: 16px;
		}
	}

	blockquote {
		text-align: center;

		&::before {
			content: "“";
			display: block;
			width: 100%;
			height: 50px;
			font-size: 50px;
			font-family: "Nanum Myeongjo", serif;
			text-align: center;
		}

		p {
			text-align: center !important;
		}

		&::after {
			content: "”";
			display: block;
			width: 100%;
			height: 50px;
			font-size: 50px;
			font-family: "Nanum Myeongjo", serif;
			text-align: center;
		}
	}

	img {
		display: block;
		max-width: 90%;
		max-height: 700px;
		margin: 20px 0;
		object-fit: cover;
		object-position: center;
	}

	hr {
		width: 50%;
		margin: 50px auto;
		border: none;
		border-bottom: 1px solid $border-color--gray;
	}

	div[data-type="map"] {
		overflow: hidden;
		width: 100%;
		margin: 30px auto 0;
		border: 1px solid $border-color--gray;

		@include tablet {
			max-width: 600px;
			margin: 50px auto;
		}

		:global(#map) {
			position: relative;
			width: 100%;
			height: 180px;

			@include tablet {
				height: 350px;
			}
		}

		:global(#map-information) {
			display: flex;
			align-items: center;
			width: 100%;
			height: 40px;
			padding: 0 10px;
			border-top: 1px solid $border-color--gray;

			:global(#address) {
				flex-grow: 1;
				font-size: 12px;

				@include tablet {
					font-size: 14px;
				}
			}
		}
	}
}
