@use "@/styles/variables.scss" as *;
@use "@/styles/responsive.scss" as *;
@use "@/styles/fonts.scss" as *;

.carousel-single-component {
  overflow: hidden;
  position: relative;
  height: 270px;
  backface-visibility: hidden;

  @include tablet {
    display: flex;
    flex-direction: row;
    height: 500px;
  }

  .item-list {
    position: relative;
    z-index: 9;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1);
    will-change: transform;
    -ms-overflow-style: none;

    @include tablet {
      z-index: auto;
    }

    .item {
      flex-shrink: 0;
      width: 100%;
      height: 100%;
    }
  }
}
