/*max width*/
$max-width: 850;

/*safe area*/
$safe-area--mobile: 8;
$safe-area--tablet: 20;
$safe-area--desktop: 20;

/*header height*/
$header-height--mobile: 45;
$header-height--tablet: 55;

/*font color*/
$font-color--black : rgb(44, 44, 44);
$font-color--dark-gray: rgb(100,116,139);
$font-color--bright-gray: rgb(148,163,184);

/*background color*/
$background-color--white: rgb(255,255,255);
$background-color--gray: rgb(243,244,245);

/*border color*/
$border-color--gray: rgb(207, 207, 207);