@use "@/styles/variables.scss" as *;
@use "@/styles/responsive.scss" as *;

.bread-crumb-component {
	display: flex;
	align-items: center;
	gap: 5px;
	width: 100%;
	height: 25px;
	font-family: "Pretendard";
	font-size: 12px;

	@include tablet {
		max-width: calc($max-width - $safe-area--tablet * 2);
		font-size: 14px;
	}

	.link {
    display: flex;
    align-items: center;
		text-decoration: none;
		color: inherit;
    font-size: inherit;
	}

	.icon {
		position: relative;
		color: inherit;

		&.home {
      margin-right: 3px;
			font-size: 16px;

      @include tablet {
        font-size: 17px;
      }
		}

		&.arrow {
			font-size: 12px;
		}
	}

	.path {
		font-size: inherit
	}
}
