@use "@/styles/variables.scss" as *;
@use "@/styles/responsive.scss" as *;

.comment-list-component {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 0 20px;
  list-style-type: none;

  @include tablet {
    margin-top: 20px;
  }

  .comment-wrapper {
    width: 100%;
  }
}
