@use "@/styles/variables.scss" as *;
@use "@/styles/responsive.scss" as *;

.editor-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  
  :global(.tiptap.ProseMirror) {
  flex-grow: 1;
  border: none;
  outline: none;
  letter-spacing: 0.5px;

  p {
    margin: 0;
    line-height: 1.6;
  }

  img {
    display: block;
    max-width: 100%;
    margin: 20px 0;
  }
}
}
