@use "@/styles/variables.scss" as *;
@use "@/styles/responsive.scss" as *;

.full-page-spinner-component {
  position: fixed;
  z-index: 999;
  top: $header-height--mobile;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100dvh - $header-height--mobile);
  background-color: $background-color--white-transparent;

  @include tablet {
    top: $header-height--tablet;
    height: calc(100dvh - $header-height--tablet);
  }

  .icon {
    font-size: 16px;
    color: $font-color--black;

    @include tablet {
      font-size: 18px;
    }
  }
}