@use "@/styles/variables.scss" as *;
@use "@/styles/responsive.scss" as *;

.full-page-spinner-component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - $header-height--mobile);

  @include tablet {
    min-height: calc(100vh - $header-height--tablet);
  }

  .icon {
    font-size: 16px;
    color: $font-color--black;

    @include tablet {
      font-size: 18px;
    }
  }
}