@use '@/styles/variables.scss' as *;
@use '@/styles/responsive.scss' as *;

.new-icon-component {
  position: absolute;
  top: 3px;
  right: 0;
  width: 18px;
  height: 18px;
  margin-left: auto;
  background-color: rgb(233, 97, 97);
  border-radius: 50%;
  text-align: center;
  font-size: 11px;
  color: #FFF;
}