@use "@/styles/variables.scss" as *;
@use "@/styles/responsive.scss" as *;

%input-reset {
	border: none;
	padding: 0;
	letter-spacing: 1px;
	color: inherit;

	&:focus {
		outline: none;
	}
}

.job-detail-component {
	display: flex;
	flex-direction: column;

	.grid {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 25px;
		margin-bottom: 50px;

		@include tablet {
			grid-template-columns: 1fr 1fr;
			column-gap: 50px;
			row-gap: 40px;
		}

		.group {
			display: flex;
			align-items: center;
			gap: 16px;
      height: 36px;
			font-size: 14px;
			color: $font-color--dark-gray;

			@include tablet {
				font-size: 15px;
			}

			.label {
				flex: 0 0 90px;
			}
		}

		.input-wrapper {
			position: relative;
			flex: 1;
			height: 36px;
			display: flex;
			align-items: center;
			border-bottom: 1px solid $border-color--gray;

			&::after {
				margin-left: auto;
				font-size: 13px;
			}

			&.full-time::after {
				content: "만원";
				padding-left: 10px;
			}

			&.part-time::after {
				content: "원";
				padding-left: 10px;
			}

			.input {
				@extend %input-reset;
				flex-grow: 1;
				height: 100%;
				font-size: 14px;
				-moz-appearance: textfield;

				&::placeholder {
					font-size: 13px;
					font-weight: 350;
					color: $font-color--bright-gray;
				}

				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
			}
		}
	}

	.map-group {
		grid-column: 1 / -1;
		display: flex;
		flex-direction: column;
		gap: 50px;
		color: $font-color--dark-gray;

		.text-area {
			display: grid;
			grid-template: repeat(2, 1fr) / calc(100% - 70px - 16px) 1fr;
			align-items: center;
			gap: 16px;

			@include tablet {
				grid-template: 1fr / 90px 1fr 150px;
			}

			.label {
				grid-area: 1 / 1 / 2 / -1;

				@include tablet {
					grid-area: 1 / 1 / 1 / 1;
					width: 90px;
				}
			}

			.input-wrapper {
				position: relative;
				border-bottom: 1px solid $border-color--gray;

				.input {
					@extend %input-reset;
					width: 100%;
					background: inherit;
					font-size: 13px;
					color: $font-color--bright-gray;

					&::placeholder {
						font-size: 13px;
						font-weight: 350;
						color: $font-color--bright-gray;
					}
				}
			}

			.daum-post-code-wrapper {
				justify-self: end;
			}
		}

		.naver-map-wrapper {
			height: 320px;
			border-radius: 8px;
			overflow: hidden;
		}
	}
}
