@use "@/styles/variables.scss" as *;
@use "@/styles/responsive.scss" as *;

.comment-section-component {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 $safe-area--mobile;

  @include tablet {
    max-width: $max-width;
    padding: 0 $safe-area--tablet;
  }

  &.no-padding {
    padding: 0;
  }
}