@use "@/styles/variables.scss" as *;
@use "@/styles/responsive.scss" as *;

.backdrop {
  z-index: 999;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.confirm-modal-component {
  z-index: 1000;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 350px;
  min-height: 180px;
  padding-top: 40px;
  background-color: $background-color--white;
  border-radius: 4px;

  @include tablet {
    gap: 30px;
    min-height: 220px;
    padding-top: 50px;
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include tablet {
      gap: 20px;
    }

    .message {
      text-align: center;
      font-size: 16px;
      font-weight: 450;
      color: $font-color--black;

      @include tablet {
        font-size: 18px;
      }
    }
    
    .sub-message {
      text-align: center;
      font-size: 13px;
      font-weight: 350;
      color: $font-color--dark-gray;

      @include tablet {
        font-weight: 400;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: end;
    gap: 10px;
    padding: 15px 10px 10px;
    border-top: 1px solid $border-color--bright-gray;

    @include tablet {
      padding: 20px 10px 15px;
    }

    .button {
			padding: 10px 22px;
			background-color: inherit;
			border: 1px solid $border-color--gray;
			border-radius: 20px;
			letter-spacing: 1px;
			font-size: 12px;
			font-family: inherit;
			color: $font-color--black;
			cursor: pointer;

			@include tablet {
        padding: 12px 25px;
        font-size: 13px;
			}
		}

		.cancel {

		}

		.confirm {
			background-color: $font-color--black;
			color: $background-color--white;
		}
	}
}
