@use '@/styles/variables.scss' as *;
@use '@/styles/responsive.scss' as *;

.backdrop {
  z-index: 997;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.auth-modal-component {
  z-index: 998;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  border-radius: 8px;
  background-color: $background-color--white;

  .header {
    display: flex;

    > button {
      width: 50%;
      padding: 15px 0;
      border: none;
      background-color: $background-color--gray;
      text-align: center;
      letter-spacing: 1px;
      cursor: pointer;
    }

    > button.--active {
      background-color: $background-color--white;
    }
  }
}