@use "@/styles/variables.scss" as *;
@use "@/styles/responsive.scss" as *;

.reply-component {
	display: flex;
	gap: 10px;
	padding-bottom: 10px;

	@include tablet {
		gap: 15px;
	}

	> svg {
		flex-shrink: 0;
		position: relative;
		top: 2px;
	}

	.reply {
		display: flex;
		flex-direction: column;
		gap: 10px;
		flex-grow: 1;
		padding-left: 25px;

		@include tablet {
			gap: 15px;
		}

		.header {
			display: flex;
			align-items: center;
			gap: 10px;
			width: 100%;

			@include tablet {
				gap: 15px;
			}

			.profile-image {
				flex-shrink: 0;
				width: 25px;
				height: 25px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				border-radius: 50%;
			}

			.author {
				letter-spacing: 0.5px;
				font-size: 13px;
				font-weight: 450;
			}

			.menu-button-wrapper {
				position: relative;
				margin-left: auto;

				.menu-button {
					height: 25px;
					padding: 0 0 0 10px;
					background-color: inherit;
					border: none;
					cursor: pointer;

					> svg {
						position: relative;
						top: -4px;
					}
				}
			}
		}

		.body {
			display: flex;
			flex-direction: column;

			.content {
				width: 100%;
				margin: 0;
				font-size: 13px;
				line-height: 1.6;

				@include tablet {
					font-size: 14px;
				}
			}
		}

		.footer {
      display: flex;
      
			.created-at {
				font-size: 12px;
				color: $font-color--bright-gray;

				@include tablet {
					font-size: 13px;
				}
			}
		}
	}
}
