@use "@/styles/variables.scss" as *;
@use "@/styles/responsive.scss" as *;

.local-item-skeleton-component {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  height: 80px;
	padding: $safe-area--mobile;
  border-bottom: 1px solid $border-color--gray;
	cursor: pointer;

	.place-name {
    position: relative;
    width: 50%;
    height: 22px;
		background-color: $background-color--skeleton--bright-gray;
	}

	.address {
    position: relative;
    width: 80%;
    height: 18px;
		background-color: $background-color--skeleton--bright-gray;
	}
}

.place-name::after,
.address::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transform: translateX(-100%);
  animation: shimmer 1.0s infinite;
} 

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
