@use "@/styles/variables.scss" as *;
@use "@/styles/responsive.scss" as *;

.header-component {
	z-index: 997;
	position: fixed;
	top: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: $header-height--mobile;
	padding: $safe-area--mobile;
	background-color: rgba(255, 255, 255, 0.9);
	border-bottom: 1px solid $border-color--gray;

	@include tablet {
		height: $header-height--tablet;
		padding: 8px $safe-area--tablet;
	}

	>:nth-child(3) {
		margin-left: auto;
	}

	.burger-menu-icon {
		position: relative;
		top: 1px;
		width: 22px;
		height: 22px;
		color: $font-color--black;
		cursor: pointer;
	}

	.banner-link {
		text-decoration: none;
		margin-left: 10px;

		@include tablet {
			margin-left: 20px;
		}

		.banner {
			margin: 0;
			font-size: 20px;
			font-family: inherit;
			font-weight: 500;
			color: $font-color--black;
			cursor: pointer;

			@include tablet {
				font-size: 25px;
			}
		}
	}

	.search-button, .close-button {
		position: relative;
		top: 1px;
		padding: 0;
		background-color: transparent;
		border: none;
		color: $font-color--black;
		cursor: pointer;

		.close-icon, .search-icon {
			width: 25px;
			height: 25px;
		}
	}

	.close-button {
		margin-right: 5px;
	}
}
