@use "@/styles/variables.scss" as *;
@use "@/styles/responsive.scss" as *;

.home-page-layout-component {
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin: 0 auto;
  padding: $main-page-layout-column-blank--mobile $safe-area--mobile;

  @include tablet {
    gap: 100px;
    max-width: $max-width;
    padding: $main-page-layout-column-blank--tablet $safe-area--tablet;
  }

  .boundary-line {
    max-width: $max-width;
    height: 1px;
    margin: 60px auto;
    background-color: $border-color--gray;
  }

  .section {
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: end;
      margin: 0 0 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid $font-color--black;

      @include tablet {
        margin: 0 0 40px;
        padding-bottom: 25px;
      }

      .title {
        margin: 0;
        font-size: 15px;
        font-weight: 500;

        @include tablet {
          font-size: 17px;
        }

        .category-icon {
          position: relative;
          top: 2px;
          margin-right: 10px;
        }
      }

      .view-more-button {
        font-family: "Pretendard", sans-serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.5px;
        text-decoration: none;
        color: inherit;
        cursor: pointer;

        @include tablet {
          font-size: 16px;
        }

        .view-more-arrow-image {
          position: relative;
          top: 5px;
          margin-left: 5px;
        }
      }
    }
  }
}
