@use "@/styles/variables.scss" as *;
@use "@/styles/responsive.scss" as *;

.footer-component {
	height: 190px;
	padding: 30px $safe-area--mobile;
	background-color: $font-color--black;
	color: $background-color--white;

	@include tablet {
		height: 320px;
		padding: 80px $safe-area--tablet;
	}

	.top {
		margin: 20px auto 0;

		.link {
			text-decoration: none;
			display: flex;
			justify-content: space-between;
			align-items: end;
			width: 170px;
			margin: 0 auto;
			color: $background-color--white;

			@include tablet {
				width: 250px;
			}

			.banner {
				display: inline-block;
				text-align: center;
				margin: 0;
				font-family: inherit;
				font-size: 23px;
				font-weight: 300;
				letter-spacing: 0.5px;

				@include tablet {
					font-size: 35px;
				}
			}

			.description {
				position: relative;
				top: -3px;
				font-size: 10px;
				font-weight: 300;

				@include tablet {
					top: -4px;
					font-size: 12px;
				}
			}
		}
	}

	.boundary-line {
		width: 90%;
		height: 1px;
		margin: 20px auto;
		background-color: rgb(100, 100, 100);

		@include tablet {
			width: 60%;
			margin: 30px auto;
		}
	}

	.footer {
		.description {
			display: block;
			text-align: center;
			font-size: 10px;
			font-weight: 300;

			@include tablet {
				letter-spacing: 0.3px;
				font-size: 12px;
				font-weight: 350;
			}
		}
	}

	&.editor-page {
		display: none;
	}
}
