@use "@/styles/variables.scss" as *;
@use "@/styles/responsive.scss" as *;

.sidebar-header-component {
	display: flex;
	align-items: center;
	height: 150px;
	border-bottom: 1px solid $border-color--gray;

	@include tablet {
		height: 230px;
	}
}
