@use "@/styles/variables.scss" as *;
@use "@/styles/responsive.scss" as *;

.notification-item-component {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 25px 0 20px;
	border-bottom: 1px solid $border-color--gray;
	text-decoration: none;
	color: inherit;

	.red-dot {
		position: absolute;
		top: 15px;
		background-color: $font-color--rose;
		width: 6px;
		height: 6px;
		border-radius: 50%;
	}

	.header {
		display: flex;
		align-items: center;
		gap: 10px;

		.author {
			flex-grow: 1;
			margin: 0;
			font-size: 13px;

			@include tablet {
				font-size: 15px;
			}

			.nickname {
				color: $font-color--rose;
				font-size: 13px;

				@include tablet {
					font-size: 15px;
				}
			}
		}

		.created-at {
			flex-shrink: 0;
			margin: 0;
			font-size: 11px;
			color: $font-color--bright-gray;

			@include tablet {
				font-size: 13px;
			}
		}

		.delete-button {
			flex-shrink: 0;
			padding: 0;
			background-color: inherit;
			border: none;
			outline: none;
			cursor: pointer;

			.cross-icon {
				position: relative;
				top: 1px;
				font-size: 16px;
				color: $font-color--bright-gray;
			}
		}
	}

	.body {
		overflow: hidden;
		display: -webkit-box;
		flex-grow: 1;
		font-size: 13px;
		line-height: 1.6;
		line-clamp: 2;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;

		@include tablet {
			font-size: 15px;
		}

		.content {
			margin: 0;

			.type {
				color: $font-color--rose;
			}
		}

		.target-title {
			font-size: inherit;
			color: $font-color--orange;
		}

		.type {
			font-size: inherit;
			color: $font-color--rose;
		}
	}
}
